@import './antd-custom.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.cvs-modal-call .ant-modal-content {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  overflow: hidden;
}

#root, .ant-app .ant-layout{
  width: inherit;
  height: 100vh;
  min-height: inherit;
  overflow: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}

.h-100 {
  height: 100%;
}

::root {
  --color-secondary: rgba(0, 0, 0, 0.06);
}

.cvs-l-hover:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.cvs-d-hover:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.emoji-picker .ant-popover-inner {
  padding: 0;
}

.cvs-l-active {
  background-color: rgba(0, 0, 0, 0.06) !important;
}

.cvs-d-active {
  background-color: #3a3e42 !important;
}

.flex-align {
  display: flex !important;
  align-items: center;
}

.flex-1 {
  flex: 1 !important;
}

.chat-brigde-right {
  position: relative;
}

.chat-brigde-right::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 6;
  width: 0;
  height: 0;
  left: calc(100% - 4px);
  border-right: 20px solid transparent;
  border-top: 12px solid inherit;
}
